body{
  text-align: center;
  font-family: tahoma;
  font-size: 18px;
  background-color: 	#7FFFD4;
  color: ;
  
}
p{
  font-size: 20px;
 
}
submit-button{
  cursor: pointer;
}
.box-1{
  border-style: solid;
  background-color: #00bfff;
}
.survey-form{
  width: ;
  
}

 textarea {
font-size: 80%;
 margin: auto;
   padding: 30px;
   width:30%;
   
   }
select{
  width: 20%;
}